<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active text-center">
              <a class="nav-link" [routerLink]="['/crear']" >Agregar</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#">Verduras</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#">Lacteos</a>
            </li>
        </ul>
    </nav>
  </div>