<app-header></app-header>

<div class="container py-4">

  <div class="row row-cols-1 row-cols-md-3">

    <app-card-producto [producto]="producto" *ngFor="let producto of listaProductos"></app-card-producto>

  </div>

</div>

<!-- <div class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-refresh fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div> -->

<div *ngIf="listaProductos.length<=0" class="alert alert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>
