<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="#">E-Commerce</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" [routerLink]="['productos']" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" [routerLink]="['about']" routerLinkActive="active">About</a>
    </li>
  </ul>

  <ul class="nav navbar-nav justify-content-end">
    <li class="space nav-item">
      <form class="form-inline">
        <input id="buscador" [(ngModel)]="buscar" name="buscar"  class="form-control mr-sm-2" type="text" placeholder="Buscar" (keyup.enter)="buscarProducto(buscarTexto.value)"  #buscarTexto>
        <button (click)="buscarProducto(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
      </form>
    </li>
    <li class="space nav-item">
      <a class="nav-item nav-link" [routerLink]="['home']">Login</a>
    </li>
    <li class="space nav-item">
      <a class="nav-item nav-link" [routerLink]="['home']">Register</a>
    </li>
  </ul>

</nav>

